<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layouts/plantilla :: cabecera}"></th:block>
	
	<body>
	
	    <div class="container">
	    
	    	<th:block th:replace="~{layouts/plantilla :: menu}"></th:block>
	
			<!-- INICIO DEL CONTENIDO -->
	        <div class="row justify-content-center mt-2">
	            <div class="col-md-5">
	                <div class="card shadow-sm">
	                    <div class="card-body p-4">
	                        <h3 class="text-center mb-4 text-success">Registro de Producto</h3>
	                        
	                        <form th:action="@{/calcular}"  th:object="${producto}" method="POST" >
	                            <div class="form-floating mb-3">
	                                <input type="text" th:field="*{nombre}" class="form-control"  placeholder="Nombre del producto" required>
	                                <label for="nombre">Nombre del producto</label>
	                            </div>
	
	                            <div class="form-floating mb-3">
	                                <input type="number" th:field="*{precio}" step="0.01" class="form-control"  placeholder="0.00" required>
	                                <label for="precio">Precio (S/.)</label>
	                            </div>
	
	                            <div class="form-floating mb-3">
	                                <input type="number" th:field="*{cantidad}" class="form-control" placeholder="Cantidad" required>
	                                <label for="cantidad">Cantidad</label>
	                            </div>
	
	                            <button type="submit" class="btn btn-success w-100 py-2">Enviar</button>
	                        </form>
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    	<!-- FIN DEL CONTENIDO -->
	    </div>
	    
		<th:block th:replace="~{layouts/plantilla :: pie}"></th:block>
	    
	</body>
	
</html>


