<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layouts/plantilla :: cabecera}"></th:block>

	<body>
	
	    <div class="container">
	    
	    	<th:block th:replace="~{layouts/plantilla :: menu}"></th:block>
	
			<!-- INICIO DEL CONTENIDO -->
	
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Nombre</th>
					      <th th:text="${resultado.nombre}"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">Precio</th>
					      <td th:text="${resultado.precio}"></td>
					    </tr>
					    <tr>
					      <th scope="row">Cantidad</th>
					      <td th:text="${resultado.cantidad}"></td>
					    </tr>
					    <tr>
					      <th scope="row">descuento</th>
					      <td th:text="${resultado.descuento}"></td>
					    </tr>
					     <tr>
					      <th scope="row">Total</th>
					      <td th:text="${resultado.total}"></td>
					    </tr>
					  </tbody>
					</table>
		
	    	<!-- FIN DEL CONTENIDO -->
	    </div>
	    
		<th:block th:replace="~{layouts/plantilla :: pie}"></th:block>
	    
	</body>
	
</html>
